DATABASE_URL="postgresql://postgres:docker@localhost:5433/mageVerde-api"
JWT_PRIVATE_KEY="base64-private-key"
JWT_PUBLIC_KEY="base64-public-key"
CLOUDFLARE_ACCOUNT_ID="your-account-id"
AWS_ACCESS_KEY_ID="your-access-key"
AWS_SECRET_KET_ID="your-secret-key"
HTTP_FILE_KEY="your-public-file-base-url"
AWS_BUCKET_NAME="mvp-test"
PORT=3333
